a {
  color: #F00045;
  text-decoration: none;
}

a:hover {
  color: #BD0036;
}

.btn {
  color: white;
}

.btn-primary:hover {
  color: white;
}

.btn-primary:hover {
  color: white;
}

.card-title {
  color: #F00045;
  font-weight: bold;
}

.card-title:hover {
  cursor: pointer;
  color: #BD0036;
}

.card-subtitle {
  color: #4D4D4D;
  font-weight: 600;
}

/* css for the main container of each page */
.container.main {
  padding-left: 3em;
}

.container.main.expanded {
  float: left;
  padding-left: 4.5em;
}

.navbar {
  margin-bottom: 1em;
}

/* css for the tables in the subject detail page */
tbody.subject-detail > tr > th {
  background-color: #F00045;
  color: white;
}

tbody.subject-detail > tr > td {
  padding-left: 1em;
}

thead {
  background-color: #F00045;
  color: white;
}

/* css for the subject cards in the subject overview page */
.subject-card {
  min-height: 260px;
  max-height: 260px;
  overflow: scroll;
}

.subject-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* css for the pagination component */
.page-link {
  color: #F00045;
}

.page-link.active {
  color: white;
  background-color: #F00045;
}

.page-link:hover {
  color: #BD0036;
}

.page-link.disabled {
  color: #4D4D4D;
  pointer-events: none;
}
